.App {
  text-align: center;
  background-color: #F9F3EE;
  font-family: 'Merriweather Sans', sans-serif;
}

h3{
  font-size: 15px;
  font-weight: bold;
}

.navbar{
  margin: auto;
  padding: auto;
}

#icon{
  width: 5em;
  height: 1fr;
  position: relative;
  right: 650px;
}

#icon:hover{
  border: 5px solid #73C3B1;
  border-radius: 1000px;
  cursor: pointer;
}

.company-name{
  position: relative;
  bottom: 90px;
  right: 490px;
  font-size: 20px;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.display-form-btn{
  background-color: #16A596;/*#78DEC7;*/
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 10px;
  border: none;
  height: 60px;
  color: #F7F7F7;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.display-form-btn:hover{
  opacity: 0.75;
  cursor: pointer;
}

.search-bar{
  height: 40px;
  width: 50%;
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #F9F3EE;
  font-family: 'IBM Plex Sans', sans-serif;
}

.search-btn{
  height: 44px;
  width: 100%;
  background-color: #B4E197;
  border: 1px solid #F9F3EE;
  border-left: none;
  width: 2%;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  font-size: 16px;
}

.search-bar:hover{
  opacity: 0.8;
  border: 1px solid #417D7A;
}
button{
  padding-right: 30px;
}

.search-btn:hover{
  opacity: 0.8;
  border: 1px solid #add891;
}

.video-game-container{
  /*border: 3px solid black;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-gap: 1rem;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.video-game-item{
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid #C5D8A4;
  background-color: white;
  color: #68A7AD;
  border-radius: 8px;
}

.video-game-item:hover{
  margin: 5px;
  border: 3px solid #FF6FB5;
}

img{
  width: 13rem;
  height: 1fr;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

img:hover{
  border-left: 6px inset #B4E197;
  border-bottom: 6px inset #B4E197;
}

.desc{
  position: relative;
  font-family: 'Roboto Slab', serif;
}

.star-rating{
  color: #F32424;
}

.star-rating:hover{
  color: blue;
}

.section{
  margin-top: 10px;
}

.btn-section{
  margin-top: 10px;
}

.buy-btn{
  background-color: #73C3B1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  width:18%;
  padding: 15px;
}

.buy-btn:hover{
  opacity: .75;
  cursor: pointer;
}

.sold-buy-btn{
  background-color: #73C3B1;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    width: 18%;
    padding: 15px;
    opacity: .2;
}

.sold-buy-btn:hover{
  cursor: pointer;
}

.del-btn{
  background-color: #B22727;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    width: 20%;
    margin-left: 20px;
    padding: 15px;
    margin-right: 5px;
}

.del-btn:hover {
  opacity: .75;
  cursor: pointer;
}

.new-game-form{
  background-color: #97C4B8;
  border-radius: 5px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.input-form{
  margin: 30px;
  border: none;
  width: 15%;
  height: 2em;
  border-radius: 20px;
}

.h2-form{
  font-size: 30px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.text-form{
  font-size: 18px;
}

.platform-text-form{
  font-size: 18px;
  margin-right:20px;
}

.btn-form{
  font-size: 30px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: none;
  background-color: #A1E3D8;
}

.select-form{
  margin: 5px;
  border: none;
  height: 2em;
  border-radius: 10px;
}

.btn-form:hover{
  opacity: 0.7;
  cursor: pointer;
}